*.a
*.cflow
*.la
*.lo
*.o
*.so
*.gcno
*.gcda
*.gcov
*~
TAGS
.bootstrap
.deps
.emacs*
.libs
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.cache
config.h
config.h.in
config.hin
config.log
config.status
configure
confpaths.h
include
libtool
m4
pathdefs.make
paths.defs
stamp-h.in
stamp-h1
inetutils-*/
inetutils-*.tar.gz

