*.a
*.cflow
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.o
*.sig
*.so
*~
.bootstrap
.deps
.emacs*
.libs
.tarball-version
.version
ABOUT-NLS
GNUmakefile
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
build-aux
config.cache
config.h
config.h.in
config.hin
config.log
config.status
configure
confpaths.h
include
inetutils-*.tar.gz
inetutils-*/
libtool
m4
maint.mk
pathdefs.make
paths.defs
stamp-h.in
stamp-h1
