*.a
*.cflow
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.o
*.sig
*.so
*~
.bootstrap
.deps
.emacs*
.libs
.sc-start-sc_bindtextdomain
.sc-start-sc_prohibit_have_config_h
.tarball-version
.version
/build-aux
/m4
ABOUT-NLS
GNUmakefile
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
build-aux
config.cache
config.h
config.h.in
config.hin
config.log
config.status
configure
confpaths.h
gnulib
gnulib/
include
inetutils-*.tar.gz
inetutils-*.tar.xz
inetutils-*/
lib/
libtool
m4
maint.mk
pathdefs.make
paths.defs
stamp-h.in
stamp-h1
summary.sh
!lib/Makefile.am
