/Makefile.am
/alloca.c
/alloca.in.h
/anytostr.c
/argp-ba.c
/argp-eexst.c
/argp-fmtstream.c
/argp-fmtstream.h
/argp-fs-xinl.c
/argp-help.c
/argp-namefrob.h
/argp-parse.c
/argp-pin.c
/argp-pv.c
/argp-pvh.c
/argp-version-etc.c
/argp-version-etc.h
/argp-xinl.c
/argp.h
/arpa_inet.in.h
/asnprintf.c
/asprintf.c
/at-func.c
/basename-lgpl.c
/btowc.c
/chdir-long.c
/chdir-long.h
/cloexec.c
/cloexec.h
/close.c
/closedir.c
/config.charset
/dirent-private.h
/dirent.in.h
/dirfd.c
/dirname-lgpl.c
/dirname.h
/dosname.h
/dup-safer.c
/dup.c
/dup2.c
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fchdir.c
/fcntl.c
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/fd-safer.c
/fdopendir.c
/filemode.c
/filemode.h
/filename.h
/filenamecat-lgpl.c
/filenamecat.h
/float+.h
/float.c
/float.in.h
/fnmatch.c
/fnmatch.in.h
/fnmatch_loop.c
/fopen-safer.c
/fopen.c
/forkpty.c
/fseek.c
/fseeko.c
/fstat.c
/fstatat.c
/ftell.c
/ftello.c
/gai_strerror.c
/getaddrinfo.c
/getcwd-lgpl.c
/getcwd.c
/getdelim.c
/getdomainname.c
/getdtablesize.c
/getgroups.c
/gethostname.c
/getline.c
/getlogin_r.c
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/getpass.c
/getpass.h
/gettext.h
/gettimeofday.c
/getugroups.c
/getugroups.h
/getusershell.c
/glob-libc.h
/glob.c
/glob.in.h
/imaxtostr.c
/inet_ntop.c
/intprops.h
/inttostr.c
/inttostr.h
/ioctl.c
/itold.c
/langinfo.in.h
/localcharset.c
/localcharset.h
/locale.in.h
/localeconv.c
/login_tty.c
/lseek.c
/lstat.c
/malloc.c
/malloca.c
/malloca.h
/malloca.valgrind
/mbrtowc.c
/mbsinit.c
/mbsrtowcs-impl.h
/mbsrtowcs-state.c
/mbsrtowcs.c
/mbtowc-impl.h
/mbtowc.c
/memchr.c
/memchr.valgrind
/mempcpy.c
/memrchr.c
/mgetgroups.c
/mgetgroups.h
/minmax.h
/mkstemp.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/netdb.in.h
/netinet_in.in.h
/nl_langinfo.c
/obstack.c
/obstack.h
/offtostr.c
/open.c
/openat-die.c
/openat-priv.h
/openat-proc.c
/openat.c
/openat.h
/opendir.c
/openpty.c
/pathmax.h
/pipe-safer.c
/poll.c
/poll.in.h
/posix_openpt.c
/printf-args.c
/printf-args.h
/printf-parse.c
/printf-parse.h
/progname.c
/progname.h
/pty.in.h
/rawmemchr.c
/rawmemchr.valgrind
/read-file.c
/read-file.h
/readdir.c
/readutmp.c
/readutmp.h
/realloc.c
/ref-add.sin
/ref-del.sin
/regcomp.c
/regex.c
/regex.h
/regex_internal.c
/regex_internal.h
/regexec.c
/rewinddir.c
/save-cwd.c
/save-cwd.h
/secure_getenv.c
/select.c
/setenv.c
/sethostname.c
/signal.in.h
/size_max.h
/sleep.c
/snprintf.c
/sockets.c
/sockets.h
/stat.c
/stdalign.in.h
/stdarg.in.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio--.h
/stdio-impl.h
/stdio-safer.h
/stdio.in.h
/stdlib.in.h
/strcasecmp.c
/strchrnul.c
/strchrnul.valgrind
/strdup.c
/streq.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/strings.in.h
/stripslash.c
/strncasecmp.c
/strndup.c
/strnlen.c
/strnlen1.c
/strnlen1.h
/sys_ioctl.in.h
/sys_select.in.h
/sys_socket.c
/sys_socket.in.h
/sys_stat.in.h
/sys_time.in.h
/sys_types.in.h
/sys_uio.in.h
/sysexits.in.h
/tempname.c
/tempname.h
/termios.in.h
/time.in.h
/uinttostr.c
/umaxtostr.c
/unistd--.h
/unistd-safer.h
/unistd.c
/unistd.in.h
/vasnprintf.c
/vasnprintf.h
/vasprintf.c
/verify.h
/version-etc-fsf.c
/version-etc.c
/version-etc.h
/vsnprintf.c
/w32sock.h
/wchar.in.h
/wcrtomb.c
/wctype-h.c
/wctype.in.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xasprintf.c
/xgetcwd.c
/xgetcwd.h
/xgetdomainname.c
/xgetdomainname.h
/xgethostname.c
/xgethostname.h
/xmalloc.c
/xsize.c
/xsize.h
/xvasprintf.c
/xvasprintf.h
