alignof.h
alloca.c
alloca.h
alloca.in.h
argp-ba.c
argp-eexst.c
argp-fmtstream.c
argp-fmtstream.h
argp-fs-xinl.c
argp-help.c
argp-namefrob.h
argp-parse.c
argp-pin.c
argp-pv.c
argp-pvh.c
argp-version-etc.c
argp-version-etc.h
argp-xinl.c
argp.h
asnprintf.c
at-func.c
basename-lgpl.c
basename.c
btowc.c
canonicalize-lgpl.c
canonicalize.h
charset.alias
chdir-long.c
chdir-long.h
chown.c
close-hook.c
close-hook.h
close.c
config.charset
configmake.h
creat-safer.c
dirent.h
dirent.in.h
dirfd.c
dirname-lgpl.c
dirname.c
dirname.h
dup-safer.c
dup2.c
errno.h
errno.in.h
error.c
error.h
exitfail.c
exitfail.h
fchdir.c
fchmodat.c
fchown-stub.c
fchownat.c
fclose.c
fcntl--.h
fcntl-safer.h
fcntl.h
fcntl.in.h
fd-safer.c
fdopendir.c
filemode.c
filemode.h
float+.h
float.h
float.in.h
fnmatch.c
fnmatch.h
fnmatch.in.h
fnmatch_loop.c
fopen-safer.c
fopen.c
fseeko.c
fstatat.c
getcwd.c
getdelim.c
getdomainname.c
gethostname.c
getline.c
getlogin_r.c
getopt.c
getopt.h
getopt.in.h
getopt1.c
getopt_int.h
getpagesize.c
getpass.c
getpass.h
gettext.h
getusershell.c
glob-libc.h
glob.c
glob.h
glob.in.h
gnulib.mk
imaxtostr.c
intprops.h
inttostr.c
inttostr.h
lchown.c
localcharset.c
localcharset.h
lseek.c
lstat.c
malloc.c
malloca.c
malloca.h
malloca.valgrind
mbrtowc.c
mbsinit.c
mbsrtowcs-state.c
mbsrtowcs.c
memchr.c
memchr.valgrind
mempcpy.c
memrchr.c
minmax.h
mkdir.c
mkdirat.c
obstack.c
obstack.h
offtostr.c
open-safer.c
open.c
openat-die.c
openat-priv.h
openat-proc.c
openat.c
openat.h
pathmax.h
pipe-safer.c
poll.c
poll.h
poll.in.h
printf-args.c
printf-args.h
printf-parse.c
printf-parse.h
progname.c
progname.h
rawmemchr.c
rawmemchr.valgrind
readline.c
readline.h
readlink.c
readutmp.c
readutmp.h
realloc.c
ref-add.sed
ref-add.sin
ref-del.sed
ref-del.sin
regcomp.c
regex.c
regex.h
regex_internal.c
regex_internal.h
regexec.c
rmdir.c
same-inode.h
save-cwd.c
save-cwd.h
select.c
setenv.c
size_max.h
sleep.c
snprintf.c
sockets.c
sockets.h
stat.c
stdarg.h
stdarg.in.h
stdbool.h
stdbool.in.h
stddef.h
stddef.in.h
stdint.h
stdint.in.h
stdio--.h
stdio-impl.h
stdio-safer.h
stdio-write.c
stdio.h
stdio.in.h
stdlib.h
stdlib.in.h
strcasecmp.c
strchrnul.c
strchrnul.valgrind
strdup.c
streq.h
strerror.c
string.h
string.in.h
strings.h
strings.in.h
stripslash.c
strncasecmp.c
strndup.c
strnlen.c
strnlen1.c
strnlen1.h
sys
sys_select.h
sys_select.in.h
sys_socket.h
sys_socket.in.h
sys_stat.h
sys_stat.in.h
sys_time.h
sys_time.in.h
sysexits.h
sysexits.in.h
time.h
time.in.h
uinttostr.c
umaxtostr.c
unistd--.h
unistd-safer.h
unistd.h
unistd.in.h
unlink.c
unlinkat.c
unlocked-io.h
vasnprintf.c
vasnprintf.h
verify.h
version-etc-fsf.c
version-etc.c
version-etc.h
vsnprintf.c
w32sock.h
wchar.h
wchar.in.h
wcrtomb.c
wctype.h
wctype.in.h
xalloc-die.c
xalloc.h
xgetcwd.c
xgetcwd.h
xgetdomainname.c
xgetdomainname.h
xgethostname.c
xgethostname.h
xmalloc.c
xsize.h
xstrndup.c
xstrndup.h
